{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
{% endblock %}
{% block body %}
    <h1>{{ post.title }}</h1>
    <div>
        <div class="text-center">
            {% if post.image %}
                <img width="200" height="200" src="{{ post.image }}"/>
            {% endif %}
        </div>
        <p>{{ post.lead }}</p>
        <p>{{ post.content }}</p>
        <span>Dodano: {{ post.createdAt | date('H:i d/m/Y') }}</span>
        <hr/>
        <h3>Komentarze</h3>

        {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary pull-right">Zapisz</button>
        {{ form_end(form) }}

        {% else %}
            <a>Aby dodać komentarz musisz się zalogować. <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a> </p>
        {% endif %}
        {% for comment in post.comments %}

            <div class="card bg-light mb-3" style="margin-top: 5px">
                <div class="card-header">Dodano: {{ comment.createdAt | date('H:i d/m/Y') }} {% if comment.user %} przez: <b>{{ comment.user }}</b> {% endif %} </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

