{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
{% endblock %}
{% block body %}
    <div id="container">
        <div id="intro">
            <div id="pageHeader">
                <a href="{{ path('homepage') }}"><h1><span>Blog</span></h1></a>
            </div>
            <div id="preamble">
                <h3><span>Witaj na moim blogu</span></h3>
            </div>
        </div>

        <div id="supportingText">
            <div id="explanation">
                <h2>{{ post.title }}</h2>
                <div><a>Dodano: {{ post.createdAt | date('H:i d/m/Y') }}</a></div>

                {% if post.image %}
                    <img width="200" height="200" src="{{ post.image }}"/>
                {% endif %}

                <p>{{ post.lead }}</p>
                <p>{{ post.content }}</p>
                <span>Dodano: {{ post.createdAt | date('H:i d/m/Y') }}</span>
                <hr/>
                <h3>Komentarze</h3>
                {% if app.user %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary pull-right">Zapisz</button>
                {{ form_end(form) }}
                {% else %}
                    <a>Aby dodać komentarz musisz się zalogować. <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a></a>
                {% endif %}
                {% for comment in post.comments %}

                    <div class="card bg-light mb-3" style="margin-top: 5px">
                        <div class="card-header">Dodano: {{ comment.createdAt | date('H:i d/m/Y') }} {% if comment.user %} przez: <b>{{ comment.user }}</b> {% endif %} </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="footer">
                Copyright © 2006 Your Company Name
            </div>

        </div>

        <div id="linkList">
            <div id="linkList2">
                <div id="lselect">
                    <ul>
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('homepage') }}">About Us</a></li>
                        <li><a href="{{ path('homepage') }}">News</a></li>
                        <li><a href="{{ path('homepage') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
